In [37]:
library(DBI)
library(ggplot2)
library(ggpubr)
library(plyr)
library(tidyr)
mydb = dbConnect(RSQLite::SQLite(),"/shared/projects/form_2022_19/pascal/central_database/sample_collab.db")

In [47]:
dbGetQuery(mydb, 'select count(distinct(run_accession)) from bracken_abundances_long ;')
dbGetQuery(mydb, 'select * from bracken_abundances_long  limit 5;')
 db <- dbGetQuery(mydb, 'select * from bracken_abundances_long   ;')

  count(distinct(run_accession))
1 147

  run_accession taxon_name                       taxonomy_id taxonomy_lvl
1 ERR6913139    Streptococcus sp. oral taxon 431  712633     S
2 ERR6913139    Streptococcus sp. oral taxon 061  712623     S
3 ERR6913139    Streptococcus sp. A12            1759399     S
4 ERR6913139    Streptococcus sp. 116-D4         2598453     S
5 ERR6913139    Streptococcus sp. HSISM1         1316408     S
  kraken_assigned_reads added_reads new_est_reads fraction_total_reads
1 14058                 685         14743         0.02138
2 10466                 477         10943         0.01587
3  5521                 660          6181         0.00896
4  2068                 195          2263         0.00328
5  1732                 334          2066         0.00300

In [41]:
#dbGetQuery(mydb, 'select * from sample_annot where  limit where taxon_name is')

ERROR: Error: near "limit": syntax error

In [42]:
dbGetQuery(mydb, 'select run_accession, taxon from bracken_abundances_long limit 5;')

ERROR: Error: no such column: taxon

In [48]:
abun_wide <- db %>%  pivot_wider(id_cols = taxon_name, names_from = run_accession, values_from = fraction_total_reads)
print(abun_wide)

# A tibble: 6,128 × 148
   taxon_name  ERR6913139 ERR6913141 ERR6913142 ERR6913143 ERR6913235 ERR6913237
   <chr>            <dbl>      <dbl>      <dbl>      <dbl>      <dbl>      <dbl>
 1 Streptococ…    0.0214     0.0470     0.0251     0.0496     0.0267     0.0246
 2 Streptococ…    0.0159     0.0415     0.0414     0.0649     0.0196     0.0281
 3 Streptococ…    0.00896    0.0214     0.00672    0.0126     0.0139     0.0144
 4 Streptococ…    0.00328    0.0088     0.00317    0.00391    0.00353    0.00596
 5 Streptococ…    0.003      0.00985    0.00768    0.0430     0.00637    0.00538
 6 Streptococ…    0.003      0.0113     0.0085     0.0445     0.00661    0.00716
 7 Streptococ…    0.00309    0.00524    0.00204    0.00544    0.00593    0.0049
 8 Streptococ…    0.0027     0.00556    0.0022     0.00544    0.00519    0.00504
 9 Streptococ…    0.00119    0.00337    0.00235    0.0024     0.00132    0.00224
10 Streptococ…    0.00064    0.00126    0.00078    0.00179    0.00084    0.00106
# … with 6,118 more rows, and 141 more variables: ERR6913238 <dbl>,
#   ERR6913239 <dbl>, ERR6913117 <dbl>, ERR6913118 <dbl>, ERR6913136 <dbl>,
#   ERR6913232 <dbl>, ERR6913137 <dbl>, ERR6913233 <dbl>, ERR6913213 <dbl>,
#   ERR6913214 <dbl>, ERR6913183 <dbl>, ERR6913185 <dbl>, ERR6913186 <dbl>,
#   ERR6913279 <dbl>, ERR6913280 <dbl>, ERR6913281 <dbl>, ERR6913282 <dbl>,
#   ERR6913184 <dbl>, ERR6913155 <dbl>, ERR6913251 <dbl>, ERR6913156 <dbl>,
#   ERR6913252 <dbl>, ERR6913158 <dbl>, ERR6913254 <dbl>, ERR6913159 <dbl>, …

In [51]:
typeof(abun_wide)

[1] "list"